{% extends "baseStaff.html" %}
{% block title %}Adding New Staff{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Account Management</h1>
<h5 class="display-5">Add New Staff</h5>
<hr>
<form method="POST" action="">
  <div class="form-group">
    {{ render_field(form.first_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.last_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.email, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.phone_number, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.address1, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.address2, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.gender, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.password, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.passwordcfm, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.membership, class="form-check", style="list-style-type:none") }}
  </div>
  <br>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}

