{% extends "base.html" %}
{% block title%}Western Corp - Events{% endblock %}


{% block content%}
{% with updated = get_flashed_messages(category_filter=["profileSuccess"]) %}
        {% if updated %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <ul>
                {%- for msg in updated %}
                <li>{{ msg }}</li>
                {% endfor -%}
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endwith %}
{% with changed = get_flashed_messages(category_filter=["passwordSuccess"]) %}
        {% if changed %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <ul>
                {%- for msg in changed %}
                <li>{{ msg }}</li>
                {% endfor -%}
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endwith %}
<div>
    <p>welcome {{ session['name'] }} to our home page</p>
</div>

{% endblock %}