{% extends "baseStaff.html" %}
{% block title %}Customer Accounts{% endblock %}

{% block content %}
<h1 class="display-4">Account Management</h1>
<h5 class="display-6">Customer Accounts</h5>
<a href="/createCustomer" class="btn btn-warning" style="float: right;">Add Staff</a>
<div>
  {% if count == 0 %}
  <p>There are no customers.</p>
  {% elif count == 1 %}
  <p>There is 1 customer.</p>
  {% else %}
  <p>There are {{ count }} customers.</p>
  {% endif %}
</div>
<hr>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Customer ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Date Joined</th>
        <th>Status</th>
        <th>View/Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers_list %}
        <tr>
          <td>{{ customer.get_customer_id() }}</td>
          <td>{{ customer.get_first_name() }}</td>
          <td>{{ customer.get_last_name() }}</td>
          <td>{{ customer.get_gender() }}</td>
          <td>{{ customer.get_email() }}</td>
          <td>{{ customer.get_date_created() }}</td>
          <td>{{ customer.get_status() }}</td>
          <td><a href="/updateCustomer/{{customer.get_customer_id()}}" class="btn btn-warning">View/Update</a></td>
          <td>
            <form action="{{url_for('delete_customer', id=customer.get_customer_id())}}" method="POST">
<!--              <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{customer.get_first_name()}} {{customer.get_last_name()}}?');">-->
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{customer.get_customer_id()}}">
  Delete
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{customer.get_customer_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{customer.get_first_name()}} {{customer.get_last_name()}}?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

