{% extends "base2.html" %}
{% block title %}Western Corp - Retrieve Online Events{% endblock %}


{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2><b>Online Event Management</b></h2>
                        <div>
                          {% if count == 0 %}
                          <p>There are no online events.</p>
                          {% elif count == 1 %}
                          <p>There is 1 online event.</p>
                          {% else %}
                          <p>There are {{ count }} online events.</p>
                          {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Event Date</th>
                        <th>Event Status</th>
                        <th>Registration Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for online in online_list %}
                    <tr>
                        <td><img src="static/uploads/{{online.get_image() }}" width="70" height="50"><a class="name" href="">{{ online.get_name() }}</a></td>
                        <td>{{ online.get_date() }}</td>
                        <td><span class="status text-success">&bull;</span> Active </td>
                        <td><span class="status text-success">&bull;</span> {{ online.get_status() }} </td>
                        <td>
                            <a href="/updateEvent/{{online.get_event_id()}}" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2><b>Offline Event Management</b></h2>
                        <div>
                          {% if count1 == 0 %}
                          <p>There are no offline events.</p>
                          {% elif count1 == 1 %}
                          <p>There is 1 offline event.</p>
                          {% else %}
                          <p>There are {{ count }} offline events.</p>
                          {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Pax</th>
                        <th>Location</th>
                        <th>Event Date</th>
                        <th>Event Status</th>
                        <th>Registration Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for offline in offline_list %}
                    <tr>
                        <td><img src="static/uploads/{{offline.get_image() }}" width="70" height="50"><a class="name" href="">{{ offline.get_name() }}</a></td>
                        <td>{{ offline.get_pax() }}</td>
                        <td>{{ offline.get_location() }}</td>
                        <td>{{ offline.get_date() }}</td>
                        <td><span class="status text-success">&bull;</span> Active </td>
                        <td><span class="status text-success">&bull;</span> {{ offline.get_status() }} </td>
                        <td>
                            <a href="/updateEvent/{{offline.get_event_id()}}" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
