{% extends "baseStaff.html" %}
{% block title %}Change Password{% endblock %}
{% block silly %}Account Management{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h5 class="display-5">Change Password</h5>
<hr>
<form method="POST" action="">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<br>
								  	<label>New password</label>
								  	{{ render_field(form.password, class="form-control") }}
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<br>
								  	<label>Confirm new password</label>
								  	{{ render_field(form.passwordcfm, class="form-control") }}
								</div>
							</div>
							<div>
								<br>
								<button class="btn btn-primary">Update</button>
								<button class="btn btn-light">Cancel</button>
							</div>
						</div>
</form>
{% endblock %}

