{% extends "baseStaff.html" %}
{% block title %}Adding New Staff{% endblock %}
{% block silly %}Account Management{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h5 class="display-5">Update Customer</h5>
<hr>
<form method="POST" action="">
  <div class="preview-imgPP">
    <img id="preview" src="/profimg/{{ customer.get_image() }}" width="175px" height="175px" class="rounded-circle" alt="Image preview" />
  </div>
  <div class="form-group">
    {{ render_field(form.image, id="fileinput" , class="form-control", **{'onchange':'previewFile()'}) }}
  </div>
  <div class="form-group">
    {{ render_field(form.first_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.last_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.email, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.phone_number, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.address1, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.address2, class="form-control") }}
  </div>
  <p></p>
  <div class="form-group row">
    <div class="col">
      Unit Number {{ render_field(form.floor_number, class="form-control") }}
    </div>
    <div class="col">
        {{ render_field(form.unit_number, class="form-control")}}
    </div>
  </div>
  <p></p>
  <div class="form-group">
    {{ render_field(form.postal_code, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.gender, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.status, class="form-check", style="list-style-type:none") }}
  </div>
  <br>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}

