{% extends "base.html" %}
{% block title%}Western Corp - View Registered Events{% endblock %}


{% block content %}

<div class="container">

    <div class="title text-center">
        <h1 class="text-uppercase my-5">Registered Events</h1>
    </div>

    <div class="card mb-4">
        <div class="row g-0">

            <div class="col-md-4">
                <img class="img-fluid rounded-start" src="" alt="">
            </div>

            <div class="col-md-8">
                <h2 class="card-title">Title</h2>
                <p>blah blah</p>
                <button class="btn btn-primary">Zoom link</button>
            </div>

        </div>

    </div>

</div>

{% endblock %}