{% extends "base.html" %}
{% block title%}Western Corp - Events{% endblock %}


{% block content %}

<div class="container">
      <div class="text-center my-5">
        <h1>Events</h1>
        <hr/>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="imgs/a.jpg" class="img-fluid" />

            <div class="card-body">
              <div class="card-title">
                <h2>This is the blog title</h2>
              </div>
              <div class="card-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Deleniti corporis quis ab. Exercitationem et quibusdam
                  impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                  maxime facere, quod harum aliquid in...
                </p>
              </div>
              <a href="#" class="btn btn-outline-primary rounded-0 float-end">View Details</a>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}
