{% extends "base.html" %}
{% block title%}Western Corp - Events{% endblock %}


{% block content %}

<div class="container">
      <div class="text-center my-5">
        <h1>Events</h1>
        <hr/>
      </div>

      <div class="row">

        {% for online in online_list %}
          <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="static/uploads/{{online.get_image() }}" class="img-fluid" />

            <div class="card-body">
              <div class="card-title">
                <h2>{{ online.get_name() }}</h2>
              </div>
                <div class="card-text">
                <p>{{ online.get_location() }}</p>
              </div>
                <div class="card-text">
                <p>{{ online.get_date() }}</p>
              </div>
              <div class="card-text">
                <p>{{ online.get_description() }}</p>
              </div>
              <a href="#" class="btn btn-outline-primary rounded-0 float-end">View Details</a>
            </div>
          </div>
        </div>
      {% endfor %}

          {% for offline in offline_list %}
          <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="static/uploads/{{offline.get_image() }}" class="img-fluid" />

            <div class="card-body">
              <div class="card-title">
                <h2>{{ offline.get_name() }}</h2>
              </div>
                <div class="card-text">
                <p>{{ offline.get_location() }}</p>
              </div>
                <div class="card-text">
                <p>{{ offline.get_date() }}</p>
              </div>
              <div class="card-text">
                <p>{{ offline.get_description() }}</p>
              </div>
              <a href="#" class="btn btn-outline-primary rounded-0 float-end">View Details</a>
            </div>
          </div>
        </div>
      {% endfor %}

      </div>
</div>

{% endblock %}
