{% extends "base.html" %}
{% block title %}Library Loan System - Contact Us{% endblock %}

{% block content %}
<h1 class="display-4">Contact Us</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#DIT">DIT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#DSF">DSF</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#DCS">DCS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#DBFT">DBFT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#CIP">CIP</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container-fluid active" id="DIT">
    <br>
    <h2>IT1166 App Development Project</h2>
    <br>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
          <tbody>
        <tr>
          <td>Mr. Faris Foo</td>
          <td>Module Leader</td>
          <td><a href="mailto:faris_foo@nyp.edu.sg">faris_foo@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Chan Yuen Loong</td>
          <td>Module Tutor</td>
          <td><a       href="mailto:chan_yuen_loong@nyp.edu.sg">chan_yuen_loong@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Ms. Tan Sew Lan</td>
          <td>Module Tutor</td>
          <td><a href="mailto:tan_sew_lan@myaccount.nyp.edu.sg">tan_sew_lan@myaccount.nyp.edu.sg</a></td>
        </tr>
       </tbody>
 </table>
  </div>
  <div class="tab-pane container-fluid" id="DSF">
    <br>
    <h2>IT1566 App Development Project</h2>
    <br>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
          <tbody>
        <tr>
          <td>Mr. Faris Foo</td>
          <td>Module Leader</td>
          <td><a href="mailto:faris_foo@nyp.edu.sg">faris_foo@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Lee Keat Kean</td>
          <td>Module Tutor</td>
          <td><a href="mailto:lee_keat_kean@nyp.edu.sg">lee_keat_kean@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Foong Chee Wah</td>
          <td>Module Tutor</td>
          <td><a href="mailto:foong_chee_wah@myaccount.nyp.edu.sg">foong_chee_wah@myaccount.nyp.edu.sg</a></td>
        </tr>
       </tbody>
</table>
</div>
    <div class="tab-pane container-fluid" id="DCS">
    <br>
    <h2>IT1666 App Development Project</h2>
    <br>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
          <tbody>
        <tr>
          <td>Ms. Andrea Tan</td>
          <td>Module Leader</td>
          <td><a href="mailto:andrea_tan@nyp.edu.sg">andrea_tan@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Choy Wai Leong</td>
          <td>Module Tutor</td>
          <td><a href="mailto:choy_wai_leong@myaccount.nyp.edu.sg">choy_wai_leong@myaccount.nyp.edu.sg</a></td>
        </tr>
       </tbody>
</table>
</div>
<div class="tab-pane container-fluid" id="DBFT">
    <br>
    <h2>IT1866 App Development Project</h2>
    <br>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
          <tbody>
        <tr>
          <td>Ms. Andrea Tan</td>
          <td>Module Leader</td>
          <td><a href="mailto:andrea_tan@nyp.edu.sg">andrea_tan@nyp.edu.sg</a></td>
        </tr>
          <td>Mr. Heng Rui Jie</td>
          <td>Module Tutor</td>
          <td><a href="mailto:heng_rui_jie@nyp.edu.sg">heng_rui_jie@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Koh Wing Onn</td>
          <td>Module Tutor</td>
          <td><a href="mailto:koh_wing_onn@myaccount.nyp.edu.sg">koh_wing_onn@myaccount.nyp.edu.sg</a></td>
        </tr>
       </tbody>
</table>
</div>
    <div class="tab-pane container-fluid" id="CIP">
    <br>
    <h2>IT1966 App Development Project</h2>
    <br>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
          <tbody>
        <tr>
          <td>Mr. Bobby Liu Jianrong</td>
          <td>Module Leader</td>
          <td><a href="mailto:liu_jianrong@nyp.edu.sg">liu_jianrong@nyp.edu.sg</a></td>
        </tr>
          <td>Mr. Ho Wee Chong</td>
          <td>Module Tutor</td>
          <td><a href="mailto:ho_wee_chong@nyp.edu.sg">ho_wee_chong@nyp.edu.sg</a></td>
        </tr>
          <td>Mr. Felix Yeo</td>
          <td>Module Tutor</td>
          <td><a href="mailto:felix_yeo@nyp.edu.sg">felix_yeo@nyp.edu.sg</a></td>
        </tr>
          <td>Ms. Jasmine Ng</td>
          <td>Module Tutor</td>
          <td><a href="mailto:jasmine_ng@nyp.edu.sg">jasmine_ng@nyp.edu.sg</a></td>
        </tr>
          <td>Mr. Lewis Sng</td>
          <td>Module Tutor</td>
          <td><a href="mailto:lewis_sng@nyp.edu.sg">lewis_sng@nyp.edu.sg</a></td>
        </tr>
       </tbody>
</table>
</div>
</div>
{% endblock %}
