{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Vouchers{% endblock %}

{% block head %}
{{ super() }}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
<style>
body {
    background: #dedede;
    margin: 0 auto;
}
.titlecustomer{
    text-align:center
    }
#voucher1{
      margin: auto;
      width: 40%;

  padding: 10px;
    }
.coupon .kanan {
    border-left: 1px dashed #ddd;
    width: 60% !important;
    position:relative;
}

.coupon .kanan .info::after, .coupon .kanan .info::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #dedede;
    border-radius: 100%;
}
.coupon .kanan .info::before {
    top: -10px;
    left: -10px;
}

.coupon .kanan .info::after {
    bottom: -10px;
    left: -10px;
}
.coupon .time {
    font-size: 1.6rem;
}
</style>
<div class="titlecustomer">
<h1 class="display-4">View Voucher</h1>
<div>
  {% if count == 0 %}
  <p>There are no vouchers.</p>
  {% elif count == 1 %}
  <p>There is 1 voucher.</p>
  {% else %}
  <p>There are {{ count }} vouchers.</p>
  {% endif %}
</div>
</div>

<!-- Voucher -->
{% for voucher in vouchers_list %}
    <div class="voucher" id="voucher1">
        <div class="">
            <div class="">
                <div class="coupon bg-white rounded mb-3 d-flex justify-content-between">
                    <div class="kiri p-3">
                        <div class="icon-container ">
                            <div class="icon-container_box">
                                <img src="static/uploads/{{voucher.get_picture() }}" width="85" class="" />
                            </div>
                        </div>
                    </div>
                    <div class="tengah py-3 d-flex w-100 justify-content-start">
                        <div>
                            <h3 class="lead">{{ voucher.get_name() }}</h3>
                            <p class="text-muted mb-0">Min. spend is ${{voucher.get_min_spend()}}.</p>
                            <span>
                                <a href="#" class="delete" title="View" data-toggle="tooltip" data-bs-toggle="modal" data-bs-target="#myOutput{{ voucher.get_voucher_id() }}">T&C</a>
                            </span>
                        </div>
                    </div>
                    <div class="kanan">
                        <div class="info m-3 d-flex align-items-center">
                            <div class="w-100">
                                <div class="block">
                                    <span class="time font-weight-light">
                                        <span>Expiry: <br>{{voucher.get_expiry()}}</span>
                                    </span>
                                </div>
                                {% if voucher in vouchers_list2 %}
                                <form action="/useVoucher/{{voucher.get_voucher_id()}}" method="post">
                                <input type="submit" value="Use" class="btn btn-primary center" name=""/>
                                </form>
                                {% elif voucher in vouchers_list3 %}
                                <button type="button" class="btn btn-secondary">Redeemed</button>
                                {% else %}
                                <form action="/redeemVoucher/{{voucher.get_voucher_id()}}" method="post">
                                <input type="submit" value="Redeem" class="btn btn-primary center" name=""/>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Modal Pop up -->
<div class="modal fade" id="myOutput{{ voucher.get_voucher_id() }}" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="exampleModalLabel1">Voucher Details</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <div class="row">

                    <div class="col-md-5">
                        <img src="static/uploads/{{voucher.get_picture() }}" alt="teste" class="img-thumbnail" height="100">

                    </div>

                    <div class="col-md-7">
                        <div class="name"><p>Name: <span>{{ voucher.get_name() }}</span></p></div>
                        <div class="voucherid"><p>Voucher ID: <span>{{voucher.get_voucher_id()}}</span></p></div>
                        <div class="type"><p>Type: <span>{{voucher.get_type()}}</span></p></div>
                        <div class="amount"><p>Amount: <span>{{voucher.get_amount()}}</span></p></div>
                        <div class="minspend"><p>Min. spend: <span>{{voucher.get_min_spend()}}</span></p></div>
                        <div class="category"><p>Category: <span>{{voucher.get_category()}}</span></p></div>
                        <div class="start"><p>Start date: <span>{{voucher.get_start()}}</span></p></div>
                        <div class="expiry"><p>Expiry date: <span>{{voucher.get_expiry()}}</span></p></div>
                        <div class="description"><p>Description: <span>{{voucher.get_description()}}</span></p></div>
                    </div>

                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                {% if voucher in vouchers_list2 %}
                                <form action="/useVoucher/{{voucher.get_voucher_id()}}" method="post">
                                <input type="submit" value="Use" class="btn btn-primary center" name=""/>
                                </form>
                                {% elif voucher in vouchers_list3 %}
                                <button type="button" class="btn btn-secondary">Redeemed</button>
                                {% else %}
                                <form action="/redeemVoucher/{{voucher.get_voucher_id()}}" method="post">
                                <input type="submit" value="Redeem" class="btn btn-primary center" name=""/>
                                </form>
                                {% endif %}
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
