
main{
    margin-left: 19%;
}

.form-control-primary{
    margin: 5px 10px;
    border-radius: 5px;
}

.actions-1{
    margin-left: 36%;
}


.bannerevent{
    height: 65vh;
	background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url('img/cr7.jpg');
	background-position: top;
	background-size:cover;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}

.bannerevent h1{
    padding-top: 100px;
	font-size: 6.3em;
	font-weight: 650;
	color: #fff;
	letter-spacing: 2px;
}


.bannerevent a{
    margin: 20px 5px 10px 22px;
	color: #fff;
	background: #EA6A47 ;
	padding:10px 10px;
	font-size: 1.3em;
	font-weight: 500;
}

.bannerevent a:hover{
	opacity: 0.7;
}

.banner2event{
    height: 65vh;
	background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url('img/leo-arg.jpg');
	background-position: top;
	background-size:cover;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}

.banner2event h1{
    padding-top: 100px;
	font-size: 6.3em;
	font-weight: 650;
	color: #fff;
	letter-spacing: 2px;
}


.banner2event a{
    margin: 20px 5px 10px 110px;
	color: #fff;
	background: #EA6A47;
	padding:10px 10px;
	font-size: 1.3em;
	font-weight: 500;
}

.banner2event a:hover{
	opacity: 0.7;
}

.bannerproduct{
height: 65vh;
background-image: linear-gradient(black, white);
background-position: top;
background-size:cover;
background-repeat: no-repeat;
margin-bottom: 20px;
}

.bannerproduct h1{
  padding-top: 100px;
font-size: 6.3em;
font-weight: 650;
color: #fff;
letter-spacing: 2px;
}


.bannerproduct a{
  margin: 20px 5px 10px 22px;
color: #fff;
background: #EA6A47 ;
padding:10px 10px;
font-size: 1.3em;
font-weight: 500;
}

.bannerproduct a:hover{
opacity: 0.7;
}

/*  navbar css */

:root {
  --main-bg-color: ##009d63;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-color: #F1F1F1
}

#sidebar-wrapper {
  background-color: #1c4e80;
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  color: #7e909a;
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}