{% extends "base2.html" %}
{% block title%}Western Corp - Events{% endblock %}

{% block content %}
<div class="banner">
	<h1 class="text-center">Online Events</h1>
	<div class="actions-1">
		<a href="/createOnlineEvent" class="btn btn-md text-center">Create Online Event</a>
    	<a href="/viewOnlineEvent" class="btn btn-md text-center">View Online Events</a>
	</div>
</div>


<div class="banner2">
	<h1 class="text-center">Users</h1>
	<div class="actions-1">
    	<a href="/viewuser" class="btn btn-md text-center">Create Offline Event</a>
		<a href="/viewuser" class="btn btn-md text-center">View Offline Events</a>

	</div>
</div>
{% endblock %}