{% extends "base2.html" %}
{% block title%}Western Corp - Events{% endblock %}

{% block content %}
<div class="banner">
	<h1 class="text-center">Events</h1>
	<div class="actions-1">
		<a href="/createevent" class="btn btn-md text-center">Create Event</a>
    	<a href="/viewevent" class="btn btn-md text-center">View Event</a>
	</div>
</div>


<div class="banner2">
	<h1 class="text-center">Users</h1>
	<div class="actions-1">
    	<a href="/viewuser" class="btn btn-md text-center">View Users</a>
	</div>
</div>
{% endblock %}