{% extends "base2.html" %}
{% block title %}Western Corp - Create Inventory{% endblock %}
{% block silly %}Create Inventory{% endblock %}
{% block content %}
{% from "includes/_formHelper.html" import render_field %}



<section id="create-Inventory">
    <div class="container-lg">
        <div class="text-center">
            <h1 class="display-5">Create Inventory</h1>
        </div>

        <div class="row justify-content-center my-5">
            <div class="col-lg-8">
                <form method="POST" action="" enctype="multipart/form-data">


   <div class="form-group">
      {{ render_field(form.Categories_select, class="form-check", style="list-style-type:none") }}
   </div>
   <div class="form-group">
       {{ render_field(form.Product_name, class="form-control") }}
   </div>
   <div class="form-group">
       {{ render_field(form.Qty, class="form-control") }}
   </div>
 <br>
 <div class="form-group">
 {{ render_field(form.remarks, class="form-control") }}
 </div>
                    <br>
 <div class="mb-4 text-center">
                        <input type="submit" value="Submit" class="btn btn-primary center"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}
