{% extends "base2.html" %}
{% block title %}Western Corp - Create Inventory{% endblock %}
{% block silly %}Create Inventory{% endblock %}
{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% if session['membership'] == 'Employee' or session ['membership'] == 'Admin'%}



<section id="create-Inventory">
    <div class="container-lg">
        <div class="text-center">
            {% for supply in Suppliers_list %}
            <h1 class="display-5">{{ supply.get_Product_name() }}</h1>
        </div>

        <div class="row justify-content-center my-5">
            <div class="col-lg-8">
                <div class="desc"><p>From: <span>{{supply.get_Company_name()}}</span></p></div>
                 {% if supply.get_Categories_select() == "Ball" %}
                 <div class="Type"><p>Type: <span>Ball</span></p></div>
                 {% elif supply.get_Categories_select() == "Footwear" %}
                 <div class="Type"><p>Type: <span>Footwear</span></p></div>
                 {% elif supply.get_Categories_select() == "Shirts" %}
                 <div class="Type"><p>Type: <span>Shirts</span></p></div>
                {% elif supply.get_Categories_select() == "Pants" %}
                <div class="Type"><p>Type: <span>Pants</span></p></div>
                {% elif supply.get_Categories_select() == "Accessories" %}
                <div class="Type"><p>Type: <span>Accessories</span></p></div>
                {% endif %}
                <div class="desc"><p>Price (per unit): $<span>{{supply.get_price()}}</span></p></div>
                <div class="desc"><p>Stock in store (Qty): <span>{{supply.get_Qty()}}</span></p></div>
                {% endfor %}
                <form method="POST" action="" enctype="multipart/form-data">
   <div class="form-group">
       {{ render_field(form.Order_Qty, class="form-control") }}
   </div>
 <br>
 <div class="form-group">
 {{ render_field(form.Order_remarks, class="form-control") }}
 </div>
                    <br>
 <div class="mb-4 text-center">
                        <input type="submit" value="Submit" class="btn btn-primary center"/>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>


{% else %}
<h1>Invalid Access!</h1>
{% endif %}
{% endblock %}
