{% extends "base2.html" %}
{% block title %}Western Corp - Retrieve Products{% endblock %}
{% block content %}
<h1 class="display-4">Retrieve Product</h1>
<div>
    {% if count == 0 %}
    <p>There are no products.</p>
    {% elif count == 1 %}
    <p>There is 1 product.</p>
    {% else %}
    <p>There are {{ count }} products.</p>
    {% endif %}
</div>
<div>
<table class="table table-striped">
<thead>
<tr>
<th>Product Image</th>
<th>Product ID</th>
<th>Product Name</th>
<th>Price</th>
<th>Description</th>
<th>Quantity</th>
<th>Category</th>
<th>Date Created</th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
{% for product in products_list %}
    <tr>
    <td><a href="static/productimages/{{product.get_product_image() }}" target="_blank"><img src="static/productimages/{{product.get_product_image() }}" width="70" height="50"></a></td>
    <td>{{ product.get_product_id() }}</td>
    <td>{{ product.get_product_name() }}</td>
    <td>{{ product.get_product_priceformat() }}</td>
    <td>{{ product.get_product_desc() }}</td>
    <td>{{ product.get_product_qty() }}</td>    
    <td>{{ product.get_product_group() }}</td>
    <td>{{ product.get_product_date() }}</td>
    <td><a href="/updateProduct/{{product.get_product_id()}}" class="btn btn-warning">Update</a></td>
    <td>
    <form action="/deleteProduct/{{product.get_product_id()}}" method="POST">
    <input type="submit" value="Delete" class="btn btn-danger">
    </form>
    </td>
    </tr>
{% endfor %}

</tbody>
</table>
</div>
{% endblock %}