{% extends "base2.html" %}
{% block title %}Western Corp - Retrieve Inventory{% endblock %}


{% block silly %}Inventory{% endblock %}


{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2><b>Inventory</b></h2>
                        <div>
                          {% if count == 0 %}
                          <p>There are no product in store</p>
                          {% elif count == 1 %}
                          <p>There is 1 product in store.</p>
                          {% else %}
                          <p>There are {{ count }} in store.</p>
                          {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Product Name</th>
                        <th>Categories</th>
                        <th>Quantity</th>
                        <th>Date Created</th>

                    </tr>

                </thead>
                <tbody>
                {% for supply in Inventory_list %}
                <tr>
                    <td>{{ supply.get_Inventory_id() }}</td>
                    {% if supply.get_Categories_select() == "Ball" %}
                        <td>Ball</td>
                    {% elif supply.get_Categories_select() == "Footwear" %}
                        <td>Footwear</td>
                    {% elif supply.get_Categories_select() == "Shirts" %}
                        <td>Shirts</td>
                    {% elif supply.get_Categories_select() == "Pants" %}
                        <td>Pants</td>
                    {% elif supply.get_Categories_select() == "Accessories" %}
                        <td>Accessories</td>
                    {% endif %}
                    <td>{{ supply.get_Product_name() }}</td>
                    <td>{{ supply.get_remarks() }}</td>
                    <td>{{ supply.get_date() }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
    </div>
</div>
{% endblock %}
