{% extends "base2.html" %}
{% block title %}Library Loan System - Retrieve Supplier{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1 class="display-4">Retrieve Supplier</h1>
<div>
  {% if count == 0 %}
  <p>There are no supplier.</p>
  {% elif count == 1 %}
  <p>There is 1 supplier.</p>
  {% else %}
  <p>There are {{ count }} supplier.</p>
  {% endif %}
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Supplier ID</th>
        <th>Supplier Name</th>
        <th>Categories</th>
        <th>Products</th>
        <th>Remarks</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for suppliers in Suppliers_list %}
     <tr>
         <td>{{ suppliers.get_Suppliers_id() }}</td>
         <td>{{ suppliers.get_Company_name() }}</td>
          {% if suppliers.get_Categories_select() == "B" %}
            <td>Ball</td>
          {% elif suppliers.get_Categories_select() == "F" %}
            <td>Footwear</td>
          {% endif %}
          <td>{{ suppliers.get_Product_name() }}</td>
          <td>{{ suppliers.get_remarks() }}</td>

         <td><a href="/viewSupplier/{{suppliers.get_Suppliers_id()}}" class="btn btn-warning">View</a></td>
         <td><a href="/updateSupplier/{{suppliers.get_Suppliers_id()}}" class="btn btn-warning">Update</a></td>
          <td>
            <form action="{{url_for('delete_Supplier', id=suppliers.get_Suppliers_id())}}" method="POST">
<!--            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{suppliers.get_Company_name()}}?');"-->
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{suppliers.get_Suppliers_id()}}">
  Delete
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{suppliers.get_Suppliers_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="fa fa-close" data-bs-dismiss="modal">Close</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{suppliers.get_Company_name()}} from the list?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
          </form>
        </td>
     </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
