{% extends "base2.html" %}
{% block title %}Western Corp - Retrieve Suppliers{% endblock %}
{% block silly %}Retrieve Suppliers{% endblock %}
{% from "includes/_formHelper.html" import render_field %}


{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}" >
    <link xmlns:style="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <script src="https://kit.fontawesome.com/48c37b3e43.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/retrieveSupplier.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}
<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">

                        <h2><b>Suppliers</b></h2>
                        <div>
                          {% if count == 0 %}
                          <p>There are no Supplier.</p>
                          {% elif count == 1 %}
                          <p>There is 1 Suppliers.</p>
                          {% else %}
                          <p>There are {{ count }} Supplier.</p>
                          {% endif %}
                        </div>

                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Supplier ID</th>
        <th>Supplier Name</th>
        <th>Categories</th>
        <th>Products</th>
        <th>Stock in store (Qty)</th>
        <th>Remarks</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Order</th>
      </tr>
    </thead>

    <tbody>
    {% for suppliers in Suppliers_list %}
     <tr id="check">
         <td>{{ suppliers.get_Suppliers_id() }}</td>
         <td>{{ suppliers.get_Company_name() }}</td>
          {% if suppliers.get_Categories_select() == "Ball" %}
            <td>Ball</td>
          {% elif suppliers.get_Categories_select() == "Footwear" %}
            <td>Footwear</td>
          {% elif suppliers.get_Categories_select() == "Shirts" %}
            <td>Shirts</td>
          {% elif suppliers.get_Categories_select() == "Pants" %}
            <td>Pants</td>
          {% elif suppliers.get_Categories_select() == "Accessories" %}
            <td>Accessories</td>
          {% endif %}
          <td>{{ suppliers.get_Product_name() }}</td>
          <td>{{ suppliers.get_Qty() }}</td>
          <td>{{ suppliers.get_remarks() }}</td>
          {% if suppliers.get_status() == "Available" %}
            <td><span class="status text-success">&bull;</span>Available</td>
          {% elif suppliers.get_status() == "Not Available" %}
            <td><span class="status text-danger">&bull;</span>Not Available</td>
            {% endif %}
         <td id="function">

             <a href="#" class="delete" title="view" data-toggle="tooltip" data-bs-toggle="modal" data-bs-target="#exampleModal1_{{suppliers.get_Suppliers_id()}}"><i class="material-icons">remove_red_eye</i></a>
         <div class="modal fade" id="exampleModal1_{{suppliers.get_Suppliers_id()}}" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header bg-primary">
                                <h5 class="modal-title text-white" id="exampleModalLabel1">{{ suppliers.get_Company_name() }}</h5>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">

                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="telephone"><p>telephone no.: <span>{{suppliers.get_telephone()}}</span></p></div>
                                          <div class="desc"><p>Company website: <span>{{suppliers.get_website()}}</span></p></div>
                                          <div class="desc"><p>Company email: <span>{{suppliers.get_email()}}</span></p></div>
                                          <div class="Address"><p>Address line: <span>{{suppliers.get_Address1()}}</span></p></div>
                                          <div class="Address"><p>Address line 2: # <span>{{suppliers.get_floor_number()}}-{{suppliers.get_unit_number()}}</span></p></div>
                                          <div class="desc"><p>Postal code: <span>{{suppliers.get_postal()}}</span></p></div>
                                          <div class="desc"><p>Payment details: <span>{{suppliers.get_Payment()}}</span></p></div>
                                            {% if suppliers.get_Categories_select() == "Ball" %}
                                            <div class="Type"><p>Type: <span>Ball</span></p></div>
                                            {% elif suppliers.get_Categories_select() == "Footwear" %}
                                            <div class="Type"><p>Type: <span>Footwear</span></p></div>
                                            {% elif suppliers.get_Categories_select() == "Shirts" %}
                                            <div class="Type"><p>Type: <span>Shirts</span></p></div>
                                            {% elif suppliers.get_Categories_select() == "Pants" %}
                                            <div class="Type"><p>Type: <span>Pants</span></p></div>
                                            {% elif suppliers.get_Categories_select() == "Accessories" %}
                                            <div class="Type"><p>Type: <span>Accessories</span></p></div>
                                            {% endif %}
                                          <div class="desc"><p>Product Name: <span>{{suppliers.get_Product_name()}}</span></p></div>
                                          <div class="desc"><p>Price (per unit): $<span>{{suppliers.get_price()}}</span></p></div>
                                          <div class="desc"><p>Stock in store (Qty): <span>{{suppliers.get_Qty()}}</span></p></div>
                                          <div class="desc"><p>Remark: <span>{{suppliers.get_remarks()}}</span></p></div>
                                            {% if suppliers.get_status() == "Available" %}
                                            <div class="Type"><p>Status: <span>Available</span></p></div>
                                            {% elif suppliers.get_status() == "Not Available" %}
                                            <div class="Type"><p>Status: <span>Not Available</span></p></div>
                                            {% endif %}
                                          <div class="desc"><p>Date created: <span>{{ suppliers.get_date() }}</span></p></div>
                                      </div>

                                   </div>

                              </div>
                              <div class="modal-footer d-flex justify-content-center">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
         </td>

         <td>
             <a href="/updateSupplier/{{suppliers.get_Suppliers_id()}}" class="settings" title="Update" data-toggle="tooltip"><i class="fa-solid fa-pen-to-square"></i></a>
         </td>
         <td>
            <form action="{{url_for('delete_Supplier', id=suppliers.get_Suppliers_id())}}" method="POST">
<!--            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{suppliers.get_Company_name()}}?');"-->
        <!-- Button to Open the Modal -->

 <a href="#" class="text-danger" title="delete" data-toggle="tooltip" data-bs-toggle="modal" data-bs-target="#myModal_{{suppliers.get_Suppliers_id()}}"><i class="fas fa-trash-can"></i></a>
<!-- The Modal -->
<div class="modal" id="myModal_{{suppliers.get_Suppliers_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="fa fa-close" data-bs-dismiss="modal">Close</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{suppliers.get_Company_name()}} from the list?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
         </form>
      </td>
      <td>

          <a href="#" class="delete" title="view" data-toggle="tooltip" data-bs-toggle="modal" data-bs-target="#exampleModal2_{{suppliers.get_Suppliers_id()}}"><i class="fa-brands fa-jedi-order"></i></a>
         <div class="modal fade" id="exampleModal2_{{suppliers.get_Suppliers_id()}}" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header bg-primary">
                                <h5 class="modal-title text-white" id="exampleModalLabel2">{{ suppliers.get_Product_name() }}</h5>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">

                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="desc"><p>From: <span>{{ suppliers.get_Company_name() }}</span></p></div>
                                            {% if suppliers.get_Categories_select() == "Ball" %}
                                            <div class="Type"><p>Type: <span>Ball</span></p></div>
                                            {% elif suppliers.get_Categories_select() == "Footwear" %}
                                            <div class="Type"><p>Type: <span>Footwear</span></p></div>
                                            {% elif suppliers.get_Categories_select() == "Shirts" %}
                                            <div class="Type"><p>Type: <span>Shirts</span></p></div>
                                            {% elif suppliers.get_Categories_select() == "Pants" %}
                                            <div class="Type"><p>Type: <span>Pants</span></p></div>
                                            {% elif suppliers.get_Categories_select() == "Accessories" %}
                                            <div class="Type"><p>Type: <span>Accessories</span></p></div>
                                            {% endif %}
                                          <div class="desc"><p>Price /unit: $<span>{{suppliers.get_price()}}</span></p></div>
                                          <div class="desc"><p>Stock in store (Qty): <span>{{suppliers.get_Qty()}}</span></p></div>



                                          <button type="button" class="btn btn-warning" onclick="location.href='/createInventory/{{suppliers.get_Suppliers_id()}}'" data-bs-target="{{suppliers.get_Suppliers_id()}}">Order</button>
                                          <form action="{{url_for('create_Inventory', id=suppliers.get_Suppliers_id())}}" method="POST">
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>

         </div>




         </td>

     </tr>

                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}
