{% extends "base2.html" %}
{% block title %}Western Corp - Retrieve Inventory{% endblock %}


{% block silly %}Inventory{% endblock %}


{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/48c37b3e43.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2><b>Inventory</b></h2>
                        <div>
                          {% if count == 0 %}
                          <p>There are no product in store</p>
                          {% elif count == 1 %}
                          <p>There is 1 product in store.</p>
                          {% else %}
                          <p>There are {{ count }} in store.</p>
                          {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Suppliers No.</th>
                        <th>Product</th>
                        <th>From</th>
                        <th>Categories</th>
                        <th>Order Quantity</th>
                        <th>Remarks</th>
                        <th>Status</th>
                        <th>Date Created</th>
                        <th></th>
                        <th></th>


                    </tr>

                </thead>
                <tbody>
                {% for supply in Inventory_list %}
                {% for order in Supplier_list %}
                <tr>
                    <td>{{ order.get_Suppliers_id() }}</td>
                    <td>{{ order.get_Product_name() }}</td>
                    <td>{{ order.get_Company_name() }}</td>
                        {% if order.get_Categories_select() == "Ball" %}
                            <td>Ball</td>
                        {% elif order.get_Categories_select() == "Footwear" %}
                            <td>Footwear</td>
                        {% elif order.get_Categories_select() == "Shirts" %}
                            <td>Shirts</td>
                        {% elif order.get_Categories_select() == "Pants" %}
                            <td>Pants</td>
                        {% elif order.get_Categories_select() == "Accessories" %}
                            <td>Accessories</td>
                        {% endif %}
                        {% endfor %}

                    <td>{{ supply.get_Order_Qty() }}</td>
                    <td>{{ supply.get_Order_remarks() }}</td>

                        {% if supply.get_status() == "Processing" %}
                        <td><span class="status text-alert">&bull;</span>Processing</td>
                            {% elif supply.get_status() == "Delivered" %}
                        <td><span class="status text-success">&bull;</span>Delivered</td>
                        {% endif %}
                    <td>{{ supply.get_date() }}</td>
                     <td>
                          <a href="#" class="download" title="view" data-toggle="tooltip" onclick="location.href='invoice/{{supply.get_Inventory_id()}}'" data-bs-target="{{supply.get_Inventory_id()}}" ><i class="material-icons">remove_red_eye</i></a>
                                          <form action="{{url_for('invoice', id=supply.get_Inventory_id())}}" method="POST" >
                      </td>
                     <td>

                         <button type="button" id="check" class="btn btn-success" data-bs-target="{{supply.get_Inventory_id()}}" onclick="changeText(this)">Delivered?</button>
                         <script>
                                function changeText(button) {
                                        button.innerHTML = "Completed";
                                                                                                     }
                         </script>

                     </td>
                    {% endfor %}
                </tr>

                </tbody>


            </table>
            </div>
    </div>
</div>

{% endblock %}
