{% extends "base2.html" %}
{% block title%}Western Corp - View Event{% endblock %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">
    <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.1/b-2.3.3/b-html5-2.3.3/b-print-2.3.3/datatables.min.js"></script>
    <script defer src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script defer src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
    <script defer src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
    <script defer src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}


{% block content %}
{% if 'online_event_created' in session %}
<div class="alert alert-success alert-dismissible">
<button type="button" class="btn-close" data-dismiss="alert"></button>
{{ session.pop('online_event_created', None) }} was created.
</div>
{% elif 'update_online_event_form' in session %}
<div class="alert alert-warning alert-dismissible">
<button type="button" class="btn-close" data-dismiss="alert"></button>
{{ session.pop('online_event_updated', None) }} was updated.
</div>
{% elif 'event_deleted' in session %}
<div class="alert alert-danger alert-dismissible">
<button type="button" class="btn-close" data-dismiss="alert"></button>
{{ session.pop('event_deleted', None) }} was deleted.
</div>
{% endif %}

<div class="text-center m-1">
    <h1 class="display-4">Event Lists</h1>
    <div>
        {% if count == 0 %}
        <p class="lead">There are no events.</p>
        {% elif count == 1 %}
        <p class="lead">There is 1 event.</p>
        {% else %}
        <p class="lead">There are {{ count }} events.</p>
        {% endif %}
    </div>
</div>

<div class="info-table">
    <table id="example" class="table table-striped borderless" style="width:100%">
    <thead class="table-dark">
        <tr>
            <th>Event ID</th>
            <th>Event Name</th>
            <th>Description</th>
            <th>Date</th>
            <th>Image</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>

    {% for event in online_event_list %}
    <tr>
    <td>{{ event.get_event_id() }}</td>
    <td>{{ event.get_name() }}</td>
    <td>{{ event.get_description() }}</td>
    <td>{{ event.get_date() }}</td>
    <td> {{ event.get_image() }}</td>
    <td><a href="/updateEvent/{{event.get_online_event_id}}" class="btn btn-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
  <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/></svg></a></td>

    </tr>
    {% endfor %}

    </tbody>
    </table>
</div>
{% endblock %}