{% extends "base2.html" %}
{% block title %}Library Loan System - View Supplier{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename = 'css/view.css') }}">

<h1 class="display-4">View Supplier</h1>

<form method="GET" action="" id="view">
  {% for supplier in Supplier_list  %}
      <li> Company Name: {{supplier.get_Company_name()}} </li>
      <li> Company telephone no.: {{supplier.get_telephone()}}</li>
      <li> Company website: {{supplier.get_website()}}</li>
      <li> Company email: {{supplier.get_email()}}</li>
      <li> Address line 1: {{supplier.get_Address1()}} </li>
      <li> Address line 2: {{supplier.get_Address2()}} </li>
      <li> Payment details: {{supplier.get_Payment()}} </li>
      {% if supplier.get_Categories_select() == "B" %}
            <li>Type: Ball</li>
          {% elif supplier.get_Categories_select() == "F" %}
            <li>Type: Footwear</li>
          {% endif %}
      <li> Product Name: {{ supplier.get_Product_name() }} </li>
      <li> Remarks: {{ supplier.get_remarks() }} </li>
    <button class="btn warning"><a href="/retrieveSupplier">Cancel</a></button>
 </form>
  {% endfor %}


{% endblock %}
