
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="sidebar-heading text-left py-4 primary-text fs-4 fw-bold first-text text-white border-bottom"><i
                    class="fas fa-futbol me-2 text-light"></i>Western Corp</div>
            <div class="list-group list-group-flush my-3">
                <a href="/AdminDashboard" class="list-group-item list-group-item-action bg-transparent second-text text-white fw-light"><i
                        class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text text-white fw-light"><i
                        class="fas fa-project-diagram me-2"></i>Projects</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text text-white fw-light"><i
                        class="fas fa-chart-line me-2"></i>Analytics</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text text-white fw-light"><i
                        class="fas fa-paperclip me-2"></i>Reports</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text text-white fw-light"><i
                        class="fas fa-shopping-cart me-2"></i>Store Mng</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text text-white fw-light"><i
                        class="fas fa-gift me-2"></i>Products</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text text-white fw-light"><i
                        class="fas fa-calendar me-2"></i>Events</a>
                <a href="/createOnlineEvent" class="list-group-item list-group-item-action bg-transparent second-text text-white fw-light"><i
                        class="fas fa-calendar-plus me-2"></i>Create Online Event</a>
                <a href="/retrieveOnlineEvents" class="list-group-item list-group-item-action bg-transparent second-text text-white fw-light"><i
                        class="fas fa-calendar-week me-2"></i>View Online Events</a>
                <a href="/createOfflineEvent" class="list-group-item list-group-item-action bg-transparent second-text text-white fw-light"><i
                        class="fas fa-users me-2"></i>Create Offline Event</a>
                <a href="/retrieveOfflineEvents" class="list-group-item list-group-item-action bg-transparent second-text text-white fw-light"><i
                        class="fas fa-user me-2"></i>View Offline Events</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text text-white fw-light"><i
                        class="fas fa-comment-dots me-2"></i>Chat</a>
                <a href="/" class="list-group-item list-group-item-action bg-transparent second-text text-white fw-light"><i
                        class="fas fa-power-off me-2"></i>Logout</a>
            </div>
        </div>
