
        <!-- Sidebar -->

        <div id="sidebar-wrapper">
            <div class="sidebar-heading text-left py-4 primary-text fs-4 fw-bold first-text text-white border-bottom"><i
                    class="fas fa-futbol me-2 text-light"></i>Western Corp</div>
            <div class="list-group list-group-flush my-3">
                <a href="/dashboard" class="list-group-item list-group-item-action bg-transparent second-text text-white fw-light"><i
                        class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text text-white fw-light"><i
                        class="fas fa-project-diagram me-2"></i>Projects</a>
                <div class="sidenav-dropdown">
                  <button class="dropdown-btn" ><i class="fas fa-users me-2"></i>Account Management<i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-container">
                    <a href="#">Profile</a>
                    <a href="/retrieveStaffs">Staff Account</a>
                    <a href="/retrieveCustomers">Customer Account</a>
                  </div>
                </div>
              <hr>
              <div class="sidenav-dropdown">
                  <button class="dropdown-btn"><i class="fas fa-gift me-2"></i>Product Management<i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-container">
                    <a href="#">Products</a>
                    <a href="#">Inventory</a>
                  </div>
                </div>
              <hr>
                <div class="sidenav-dropdown">
                  <button class="dropdown-btn"><i class="fas fa-calendar-week me-2"></i>Event Management<i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-container">
                    <a href="#">Create Events</a>
                    <a href="#">View Events</a>
                    <a href="#">View Event's User</a>
                  </div>
                  </div>
              <hr>
                <div class="sidenav-dropdown">
                  <button class="dropdown-btn"><i class="fas fa-rewards me-2"></i>Rewards<i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-container">
                    <a href="#">Create Rewards</a>
                    <a href="#">View Rewards</a>
                  </div>
                  </div>
            </div>
        </div>
