<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-info p-1.2 mb-3">
  <div class="container-fluid">
      <a class="navbar-brand" href="#"><div class="sidebar-heading text-left py-4 primary-text fs-4 fw-bold first-text text-white"><i class="fas fa-futbol me-2 text-light"></i><strong>Western Corp</strong></div></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active text-white text-uppercase fw-bold" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-white text-uppercase fw-bold" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-white text-uppercase fw-bold" href="#">Pricing</a>
        </li>
          <li class="nav-item">
          <a class="nav-link mx-2 text-white text-uppercase fw-bold" href="#">Events</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto d-none d-lg-inline-flex">
          <a href="/customerLogin" class="btn btn-warning" style="float: right; background-color: turquoise; border: 0px;">Login</a>
        <a href="/createCustomer" class="btn btn-warning" style="float: right; background-color: turquoise; border: 0px;">Create Customer</a>
      </ul>
    </div>
  </div>
</nav>

</body>
</html>
